*
!*/
!.config/nvim/**
!.config/kitty/**
!.config/fuzzel/**
!.config/hypr/hyprland.conf
!.gitignore
!.config/cava/**
.config/cava/shaders
!.config/wob/**
!.config/zsh/**
!.zshrc
!.config/direnv/**
!.local/share/fonts/SymbolsNerdFont-Regular.ttf
!.config/waybar/**
!.local/bin/**
!README.md
!.config/tofi/**
