enable_audio_bell no
macos_option_as_alt right
#hide_window_decorations titlebar-only
hide_window_decorations no
allow_remote_control yes
listen_on unix:/tmp/mykitty
#enabled_layouts splits,horizontal,vertical
enabled_layouts tall:bias=50;full_size=1;mirrored=false
cursor_trail 3
cursor_trail_decay 0.1 0.4

foreground   #c5c8c6
#foreground  #c0b18b
# foreground #B3B8C3

#background #000000
#background   #262626
background #101010

cursor #B3B8C3 


# black
color0       #282a2e
color8       #373b41

# red
color1       #a54242
color9       #cc6666

# green
color2       #8c9440
color10      #b5bd68

# yellow
color3       #de935f
color11      #f0c674

# blue
color4       #5f819d
color12      #81a2be

# magenta
color5       #85678f
color13      #b294bb

# cyan
color6       #5e8d87
color14      #8abeb7

# white
color7       #707880
color15      #c5c8c6

color0 #121C21
color1 #E44754
color2 #89BD82
color3 #F7BD51
color4 #5486C0
color5 #B77EB8
color6 #50A5A4
color7 #FFFFFF

color8 #52606B 
color9 #E44754 
color10 #89BD82
color11 #F7BD51
color12 #5486C0
color13 #B77EB8
color14 #50A5A4
color15 #FFFFFF


shell zsh --login --interactive

{{ if eq .chezmoi.os "darwin" }}
font_size        16
{{ else if eq .chezmoi.os "linux" }}
font_size        12
{{ end }}

#remember_window_size   no
#initial_window_width   800
#initial_window_height  600
background_opacity 0.97
#window_padding_width 10
dynamic_background_opacity yes


map ctrl+shift+p previous_window
map ctrl+shift+n next_window
map cmd+1 goto_tab 1
map cmd+2 goto_tab 2
map cmd+3 goto_tab 3
map cmd+4 goto_tab 4
map cmd+5 goto_tab 5
map cmd+6 goto_tab 6
map cmd+7 goto_tab 7
map cmd+8 goto_tab 8
map cmd+9 goto_tab 9
map ctrl+shift+j previous_window
map ctrl+shift+k next_window
map ctrl+shift+up layout_action move_to_screen_edge top
map ctrl+shift+left layout_action move_to_screen_edge left
map ctrl+shift+right layout_action move_to_screen_edge right
map ctrl+shift+down layout_action move_to_screen_edge bottom


### FONTS
# https://sw.kovidgoyal.net/kitty/faq/#kitty-is-not-able-to-use-my-favorite-font
# the Mono specifier after the font name is needed on macOS
symbol_map U+e000-U+e00a,U+ea60-U+ebeb,U+e0a0-U+e0c8,U+e0ca,U+e0cc-U+e0d7,U+e200-U+e2a9,U+e300-U+e3e3,U+e5fa-U+e6b7,U+e700-U+e8ef,U+ed00-U+efc1,U+f000-U+f2ff,U+f000-U+f2e0,U+f300-U+f381,U+f400-U+f533,U+f0001-U+f1af0 Symbols Nerd Font Mono
font_family      family="JetBrainsMono Nerd Font Mono"
bold_font        auto
italic_font      auto
bold_italic_font auto
