#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Signal
Exec=/usr/bin/sh -c '~/.local/share/signal/signal-desktop -- %U'
Icon=signal
MimeType=x-scheme-handler/signalcaptcha;x-scheme-handler/sgnl;
